.btns
  position: relative
  button.heart, button.times
    padding: 12px
    margin: 14px 15px 10px
    border-radius: 50%
    background: transparent
    box-shadow: 0 0 5px 2px $yellow
    &:hover
      box-shadow: 0 0 5px 5px $yellow
  button.matches
    position: absolute
    top: 0
    right: 0
    margin: 20px 0 0
    transform: translateX(250%)
    border-radius: 10px
    padding: 8px
    color: $white
    background: transparent
    box-shadow: 0 0 3px 0px $white
    &:hover
      box-shadow: 0 0 3px 2px $white
      

