// FONTS
// font-family: 'Montserrat', sans-serif;
// font-weight: 400, 700;
// font-family: 'Poller One', cursive;

/*! GENERAL */

*, ::before,::after
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  font-size: 10px
  font-family: 'Montserrat', sans-serif

body
  min-height: 100vh
  padding: 5vh
  background: url(../assets/images/background/space-1280x720.png)

.app
  min-height: 90vh
  margin: 0 auto
  background: linear-gradient(90deg, transparent 0%, rgba(0,0,0,0.6) 30% 70%,transparent),linear-gradient( transparent 0%, rgba(0,0,0,0.6) 30% 70%,transparent)

// BUTTONS, INPUTS, LINKS
button
  font-family: 'Poller One', cursive
  cursor: pointer
  outline: none
  border: none

input
  font-family: 'Montserrat', sans-serif
  border: none
  outline: none

a
  font-family: 'Poller One', cursive
  text-decoration: none

h1,h2
  font-family: 'Poller One', cursive
  font-weight: normal

@media (max-width:1280px)
  background: url(../assets/images/background/space-1280x720.png)

@media (max-width:640px)
  background: url(../assets/images/background/space-640x360.png)

