// FONTS
// font-family: 'Montserrat', sans-serif;
// font-weight: 400, 700;
// @import space from ""../../public/assets/images/background/space-1280x720.png""

*, ::after
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  font-size: 10px
  font-family: 'Montserrat', sans-serif

body
  min-height: 100vh
  background: url(../assets/images/background/space-1280x720.png)
  background-size: cover
  background-repeat: no-repeat

.app
  display: flex
  flex-direction: column
  align-items: center
  max-width: 1200px
  margin: 2% auto
  background-color: $sheer-black


// BUTTONS 
button
  cursor: pointer
  outline: none
  border: none

