// FONTS
// font-family: 'Montserrat', sans-serif;
// font-weight: 400, 700;

/*! GENERAL */

*, ::before,::after
  margin: 0
  padding: 0
  box-sizing: border-box

html 
  font-size: 10px
  font-family: 'Montserrat', sans-serif

body
  min-height: 100vh
  padding: 5vh
  background: url(../assets/images/background/space-1280x720.png)

.app
  max-width: 1200px
  width: 100%
  margin: 0 auto
  background-color: $sheer-black

.card-wrap
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

// BUTTONS 
button
  cursor: pointer
  outline: none
  border: none

@media (max-width:1280px)
  background: url(../assets/images/background/space-1280x720.png)

@media (max-width:640px)
  background: url(../assets/images/background/space-640x360.png)

