/*! LOADING PAGE */

.loading
  height: 90vh 
  p
    +pos(fixed,null,null,10vh,50%)
    transform: translateX(-50%)
    width: 80%
    font-size: 3rem
    color: $white
    font-family: 'Poller One', cursive
    text-align: center
    letter-spacing: 1px
  .image-container
    +position_center(fixed)
    +circle(200px)
    border: 3px solid white
    overflow: hidden
    z-index: 2
    img
      width: 100%   
  &::after,&::before
    +pseudo()
    +position_center(fixed)
    z-index: 1
  &::before
    animation: pulsing500 infinite 3s linear
  &::after
    animation: pulsing500 infinite 3s linear 1.5s
    
@media (max-width: 767px) and (orientation: landscape)
  .loading
    p
      width: 100%
      font-size: 1.8rem
    .image-container
      +circle(150px)
    &::before
      animation: pulsing300 infinite 3s linear
    &::after
      animation: pulsing300 infinite 3s linear 1.5s
    
@media (max-width: 532px)
  .loading
    p
      font-size: 2.6rem
    .image-container
      +circle(150px)
    &::before
      animation: pulsing300 infinite 3s linear
    &::after
      animation: pulsing300 infinite 3s linear 1.5s

@media (max-width: 360px)
  .loading
    p
      font-size: 2rem

@keyframes pulsing300
  0%
    +circle(100px)
    background-color: rgba(241, 196, 15, 0.8)
    border: 3px solid rgba(241, 196, 15, 1)
  70%
    background-color: rgba(241, 196, 15, .2)
    border: 3px solid rgba(241, 196, 15, .3)
  100%
    +circle(300px)
    background-color: rgba(241, 196, 15, 0)
    border: 3px solid rgba(241, 196, 15, 0)

@keyframes pulsing500
  0%
    +circle(100px)
    background-color: rgba(241, 196, 15, 0.8)
    border: 3px solid rgba(241, 196, 15, 1)
  70%
    background-color: rgba(241, 196, 15, .2)
    border: 3px solid rgba(241, 196, 15, .3)
  100%
    +circle(500px)
    background-color: rgba(241, 196, 15, 0)
    border: 3px solid rgba(241, 196, 15, 0)
